@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  width: 100%;
  height: 70px;
  background-color: white;
  color: white;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  color: black;
  border-bottom: 2px black solid;
}

header h3{
  font-weight: bolder;
  color: black;
}

header li {
  font-weight: bolder;
}

.cartWidget{
  display: flex;
  flex-direction: row;
}

.cartWidget p{
  color: red;
  font-weight: bold;
}

.cartList{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

 .cartList .cartContent{
  background-color: rgb(81, 24, 238);
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.joya{
  height: 200px;
  width: 250px;
}

.itemListContainer{
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.itemList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.urlImg{
  height: 180px;
}

.itemCard{
  height: 400px;
  width: 290px;
  flex-wrap: wrap;
  margin: 5px;
}

.clickerSection{
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -70px;

}

.clickerSection .sectionCounter{
  display: flex;
  flex-direction: row;
  width: 150px;
  height: auto;
}

.clickerSection .sectionCounter .counter{
  width: 70px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}


.sectionCardDetail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: rgb(114, 114, 114);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #070707; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}


